BasedOnStyle: Google

# Définit la taille de l'indentation à 2 espaces
IndentWidth: 4

# Aligne les declarations de type et les noms d'objets dans les fichiers .h/.hpp
AlignConsecutiveDeclarations: true
